#result-btn{
    padding:15px;
    background-color: blueviolet;
    border:0;
    border-radius: 8px;
    color:whitesmoke;
    font-size: 18px;
}
.content{
    padding:25px;
    text-align: center;
}
label{
    font-size:21px;
    font-weight: 700;
}

input{
    padding:18px;
    width:20%;
    border: 3px solid blueviolet;
    border-radius: 8px;
    font-size: 18px;
}
input:focus-visible{
    outline: blueviolet;
}
@media screen and (max-width:768px) {
    input{
        width:40%;
    }
    
}